grant {

  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.io.FilePermission "<<ALL FILES>>", "read,execute,readlink";
};